<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Nome</label>
      <input type="text" class="form-control" id="name" placeholder="Digite seu nome" name="name" [(ngModel)]="requestData.nome">
    </div>
    <div class="form-group col-md-6">
      <label for="cep">Cep*</label>
      <input type="number" class="form-control" id="cep" placeholder="Digite seu cep" name="cep" [(ngModel)]="requestData.cep">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <label for="renda">Renda Mensal*</label>
      <input type="number" class="form-control" id="renda" placeholder="Digite sua renda" name="renda" [(ngModel)]="requestData.renda_mensal">
    </div>
    <div class="form-group col-md-4">
      <label for="dependentes">Dependentes*</label>
      <input type="number" class="form-control" id="dependentes" placeholder="Digite o número de dependentes" name="dependentes" [(ngModel)]="requestData.numero_dependentes">
    </div>
  </div>
  <div *ngIf="isLoading == false">
    <button type="button" class="btn btn-primary" (click)="sendData()">Calcular</button>
  </div>
  <div *ngIf="isLoading == true">
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Carregando...
    </button>
  </div>

</form>

<div class="card border-info mb-3" style="margin-top: 50px;">
  <div class="card-header">Olá {{ requestData.nome == '' ? 'Usuario' : requestData.nome }} 
      <button type="button" class="btn btn-outline-info float-right">+ Info</button>
  </div>
  <div class="card-body text-info">
    <h5 class="card-title">Localização</h5>
    <p class="card-text">
      Atualmente voce mora na rua {{ responseData.endereco.logradouro == '' ? '..' : responseData.endereco.logradouro }}
      bairro  {{ responseData.endereco.bairro == '' ? '..' : responseData.endereco.bairro }} 
      em {{ responseData.endereco.localidade == '' ? '..' : responseData.endereco.localidade }}
      {{ responseData.endereco.uf == '' ? '..' : responseData.endereco.uf }}
    </p>
    <h5 class="card-title">Renda</h5>
    <p class="card-text">
      Sua renda per capita equivale a {{ responseData.per_capita == 0 ? '..' : responseData.per_capita + ' R$' }}
    </p>
  </div>
</div>